* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #1d1919ef;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
}



a {
    color: #f5f3f3;
    font-variant: small-caps;
    z-index: 5;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    background-color: #1c3949;

    padding: 2%;
    width: 100%;
    margin-bottom: 2%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #1c3949fa;
}

.header li a {
    display: block;
    color: white;
    font-size: 21px;
    margin: 0 5px;
    padding: 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #d9dddf4b;
    range: 2px;
    border-bottom: 1px solid #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 280px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}


/*wrapper*/
.wrapper {
    display: flex;
    justify-content: center;
    background: linear-gradient(122deg, rgba(44, 40, 40, 0.705), rgba(0, 0, 0, 0.6)), url(/img/IMG_2337.JPG);
    background-position: center;
    background-size: cover;
}

.wrap {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 0 10%;
    margin-top: 20%;
    margin-bottom: 17%;
    flex-direction: column;
    background-color: #1c39496e;
}

.wrap h1 {
    text-align: center;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-variant: small-caps;
}

.wrap p {
    display: flex;
    justify-content: center;
    margin: 5px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrap .but {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.wrap .but a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 18px 30px;
    border: 4px solid whitesmoke;
    color: #f4f4f4;
    font-size: 20px;

    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.548);
}

/*.items*/
.items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -20px;
}

.items button {
    display: flex;
    justify-content: center;
    gap: -1px;
    padding: 1.5% 5%;
    box-shadow: 0px 0px 5px black;
    font-size: 21px;
    font-family: serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.items button:hover {
    background-color: #1c3949;
    color: #f4f4f4;
    cursor: pointer;
    transition: 0.5s ease;
    transform: translateY(-10px);
}




/*text*/
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 10%;
    flex-direction: column;
}

.text h1 {
    display: flex;
    justify-content: right;
    text-align: justify;
    padding: 10px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f4f4f4;
    font-weight: 100;
    letter-spacing: 5px;
    font-variant: small-caps;
}

.cont {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    margin-bottom: -15%;
}

.kid {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
}

.kid img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.808);

}

.kid h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f4f4f4;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 100;
    font-variant: small-caps;
    margin: 10px;
    padding: 10px;
}

.m-buton {
    display: none;
}

/*services*/
.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 10% 3%;
}

.service h1 {
    display: flex;
    justify-content: right;
    text-align: justify;
    padding: 10px;
    font-weight: 100;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    color: #f4f4f4;
    font-variant: small-caps;
}


.mother {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;

    margin: 10px;
}

.child {
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    flex-wrap: wrap;
}

.child h3 {
    text-align: center;
    justify-content: center;
    color: #f4f4f4;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

.child p {
    justify-content: center;
    text-align: center;
    color: #f4f4f4;

}

.child img {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #000000d2;
    height: 500px;
}

.father {

    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;

    margin: 10px;

}









footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(28, 57, 73, 0.979);
    padding: 3% 10%;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px;
    flex-direction: row;
}

.footer h1 {
    font-size: 40px;
    font-variant: small-caps;
    color: #f4f4f4;
    font-weight: 300;
}

.footer-heading-1 {
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 5px 1px;

}

.footer-heading-1 h2 {

    color: rgb(252, 251, 251);
    font-size: 25px;
    margin: 10px 10px;
}

.footer-heading-1 a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 8px 10px;
    text-transform: capitalize;
    font-size: 20px;
}

.footer-heading-1 a:hover {
    border-bottom: 1px solid white;
    transition: 0.5s ease-in-out;
}

.footer-copywrite {
    display: flex;
    justify-content: center;
    padding: 7px;
    margin: 3px 5px;
}

.footer-copywrite h1 {
    color: white;
    font-size: 23px;
    font-weight: 200;
    font-variant: small-caps;
    font-synthesis: weight;
}

/*tablet responsiveness*/
@media screen and (max-width:1000px) {
    .cont {
        flex-direction: row;
        margin-bottom: 15%;
    }

    .kid {
        flex-direction: column;
        margin: 7px;
    }

    .kid img {
        width: 200px;
        height: 300px;
    }

    .cont {
        flex-direction: row;

    }

    .kid {
        flex-direction: column;
        margin: 7px;
    }

    .kid img {
        width: 200px;
        height: 300px;
    }

    .service {
        margin-top: 13%;
    }

    .mother {
        flex-direction: row;

    }

    .child {
        flex-direction: column;
        margin: 7px;
    }

    .child img {
        width: 200px;
        height: 300px;
    }

    .father {
        flex-direction: row;

    }

    .child-2 {
        flex-direction: column;
        margin: 7px;
    }

    .child-2 img {
        width: 200px;
        height: 300px;
    }

}

/*mobile responsiveness*/
@media screen and (max-width:700px) {


    .wrap {
        padding: 20px;
        margin: 10%;
        align-items: center;
    }

    .wrap p {
        text-align: center;
        padding: 10px;
    }



    .items {
        margin-top: -10px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .items button {
        display: flex;
        justify-content: center;
        gap: -2px;
        padding: 1.1% 3%;
        box-shadow: 0px 0px 5px black;
        font-size: 18px;
        font-family: serif;
        color: black;
        font-weight: 200;
    }

    .text h1 {
        display: flex;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }

    .cont {
        flex-direction: column;
        margin: 15px;
    }

    .kid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin: 0;
    }

    .kid img {
        width: 200px;
        height: 250px;
    }


    .service h1 {
        margin: 2px;
    }

    .mother {
        flex-direction: column;
        margin: 3%;
        justify-content: center;
    }

    .child {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin: 1px 2px;
    }

    .child img {
        width: 200px;
        justify-content: center;
        margin-left: 16%;
        height: 250px;
    }

    .father {

        flex-direction: column;
        margin: 0;
    }



    .footer {
        flex-direction: column;
        /*padding-right: 30px;*/
    }

    .footer .logo {
        justify-items: center;
        margin-left: 30%;

    }

    .wrap button {
        margin-left: 20%;
    }

}